body{font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: bisque
    }
p{
    text-align: center;
}
h1{
    background-color: rgb(126, 134, 132); color: lightcoral;
}
